body
  background: #edeef0

/* MenuTop */
.dropdown-menu[data-bs-popper]
  left: auto

.dropdown-menu-right
  right: 0
  left: auto

.bg-light
  background: #ffffff!important /* Для старых браузров */